*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: beige;
}

.box{
    border: 3px solid black;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    position: relative;
}

#red{
    background-color: red;
    top: 50px;
    left: 50px;
}

#green{
    background-color: green;
    top: 150px;
    left: 150px;
}

#blue{
    background-color: blue;
    top: 250px;
    left: 250px;
}