*{
    margin: 0px;
    padding: 0px;
}

html{
    height: 200vh;
}

body{
    border: 2px solid black;
    background-image: url(images/earth.png);
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100%;
    background-attachment: fixed;
}

.box{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    overflow: scroll;
    font-size: 1rem;
    display: inline-block;
}